.form-border {
  border: 3px solid lightblue;
  border-radius: 10px;
  text-align: center;
}

.form-content {
  padding: 15px;
}

.form-custom-label {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: large;
  font-weight: bold;
}
