.submit-button {
  width: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background: $mainColor;
  border: none;
}

.submit-button:hover {
  background-color: #088699;
}

.submit-button:last-child {
  margin-top: 10px;
}

.danger-button {
  margin: 0;
  width: 200px;
  display: inline-block;
}

.danger-button:last-child {
  margin-left: 10px;
}
