body {
  margin: 0;
  padding: 0;
  background: #e9ecef;
}

.layout {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 4px;
}

.app-title {
  background: $mainColor;
  color: white;
  height: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 30px;
  background: white;
}
