#nav_bar {
  height: 60px;
  background-color: #22b8cf;
}

.account_options {
  float: right;
  line-height: 60px;
  margin-right: 20px;
}

.account_options li {
  float: left;
  color: white;
  font-weight: bold;
}

.account_options li span {
  cursor: pointer;
}

.account_options li:not(:first-child) {
  padding-left: 20px;
}
